$img-background-ship: url('/assets/images/Rectangle 40 + Bitmap Copy 3.jpg');
$img-green-check: url('/assets/images/Shape Copy 8.svg');
$img-red-cross: url('/assets/images/Close.svg');
$img-path: url('/assets/images/Path 93 Copy 22.svg');
$img-facebook: url('/assets/images/facebook-app-symbol.svg');
$img-twitter: url('/assets/images/twitter-logo-silhouette.svg');
$img-linkedin: url('/assets/images/linked-in-logo.svg');
