<article class="container-fluid or-company-description">
      <section class="container">
        <h2>Ocean Freight <strong>Incoterms</strong></h2>
        <p ></p>
        <p ></p>
      </section>
      <section class="container">
        <button >FOB</button>
        <button >CFR</button>
        <button class="selected">CIF</button>
        <button >DAT</button>
        <button >DAP</button>
        <h4>CIF: Cost, Insurance & freight</h4>
      </section>
    </article>
    <article class="container-fluid or-company-services">
      <div class="underline"></div>
      <section class="container">

        <div class="row">
          <div  class='col-xs-3 ml-service'>
            <figure>
              <img src="/assets/images/Group Copy.svg" alt="service">
            </figure>
            <p ></p>
            <div class="at-check green"></div>
          </div>

          <div class='col-xs-3 ml-service'>
            <figure>
              <img src="/assets/images/Group Copy 4.svg" alt="service">
            </figure>
            <p class="rnd-spec-desc"></p>
            <div class="at-check green"></div>
          </div>

          <div class='col-xs-3 ml-service'>
            <figure>
              <img src="/assets/images/Group Copy.svg" alt="service">
            </figure>
            <p ></p>
            <div class="at-check green"></div>
          </div>

          <div class='col-xs-3 ml-service'>
            <figure>
              <img src="/assets/images/Group Copy 4.svg" alt="service">
            </figure>
            <p ></p>
            <div class="at-check green red"></div>
          </div>
        </div>
      </section>
    </article>
    <article class="container-fluid or-company-contact">
      <section class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="phones">
              <img src="/assets/images/Shape Copy 18.svg" alt="phone icon">
              USA +1 305 964 8731   SPAIN +34 91 198 09 90
            </div>
          </div>
          <div class="col-md-3">
            <div class="badges">
            <a href="https://twitter.com/"><div class="badge twitter" target="_blank"></div></a>
              <a href="https://facebook.com/"><div class="badge facebook"target="_blank"></div></a>
              <a href="https://linkedin.com/"><div class="badge linkedin"target="_blank"></div></a>
            </div>
          </div>
        </div>
      </section>
      <hr>
    </article>
