
<article class="container-fluid form-down">
  <section class="container">
    <div class="row">
      <div  class="spec col-sm-3">
        <figure class="icon">
          <img src="/assets/images/Oval 12 Copy 3.svg" alt="booblr">
          <img src="/assets/images/Group Copy 9.svg" alt="booblr">
        </figure>
        <h4>Ocean freight</h4>
        <p class="">nada</p>
        <a class="">nada</a>
        <a class="">nada</a>
        <button>more details</button>
      </div>
    </div>
  </section>
</article>
