<article class="container-fluid hr-check-service">
  <div class="underline"></div>

  <section class="container">
    <div class="row">
      <div  class='col-xs-3 ml-service'>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p >no se que </p>
        <p>tampoco ahora</p>
        <div class="container-check green-icon"></div>
      </div>

      <div class='col-xs-3 ml-service'>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p>nda ndn</p>
        <p>sjjssjjssjs</p>
        <div class="container-check green-icon"></div>
      </div>

      <div class='col-xs-3 ml-service'>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p >dddddddd</p>
        <p>ddddddd</p>
        <div class="container-check green-icon"></div>
      </div>

      <div class='col-xs-3 ml-service'>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p >ddddddddd</p>
        <p>dddddddddd</p>
        <div class="container-check red-icon"></div>
      </div>
    </div>
  </section>

</article>
