@import "../../../assets/style/0 variables/export";

.hr-check-service{
  text-align: center;

  .row{
    padding: $gap-M-16 $gap-XL-64;

    p{
      height: 1em;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .underline{
    background-color: $color-grey;
    transform: translate(0, 181px);
    margin: 0 auto;
    height: 2px;
    z-index: -100;


    @media (max-width: 995px){
      display: none;

    }
    @media (min-width: 992px){
      width: 630px;

    }
    @media (min-width: 1200px){
      width: 760px;

    }

  }
}
