<article class="container-fluid hr-check-service">
  <div class="underline"></div>

  <section class="container">
    <div class="row">
      <div  class='col-xs-12 col-sm-6 col-md-3  '>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p>{{_RndTextS.textRandom[1]}}</p>
        <p>{{_RndTextS.textRandom[3]}}</p>
        <div class="container-check green-icon"></div>
      </div>

      <div class='col-xs-12 col-sm-6 col-md-3 '>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p>{{_RndTextS.textRandom[0]}}</p>
        <p>{{_RndTextS.textRandom[2]}}</p>
        <div class="container-check green-icon"></div>
      </div>

      <div class='col-xs-12 col-sm-6 col-md-3  '>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p>{{_RndTextS.textRandom[4]}}</p>
        <p>{{_RndTextS.textRandom[2]}}</p>
        <div class="container-check green-icon"></div>
      </div>

      <div class='col-xs-12 col-sm-6 col-md-3 '>
        <figure>
          <img src="/assets/images/Group Copy 4.svg" alt="service">
        </figure>
        <p>{{_RndTextS.textRandom[0]}}</p>
        <p>{{_RndTextS.textRandom[1]}}</p>
        <div class="container-check red-icon"></div>
      </div>
    </div>
  </section>

</article>
