<article class="container-fluid container-comp-contact">
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="phones">
          <img src="/assets/images/Shape Copy 18.svg" alt="phone icon">
          <span class="phone">USA +1 305 964 8731</span>   <span>SPAIN +34 91 198 09 90</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="C-icon-social">
        <a href="https://twitter.com/"><div class="icon twitter" target="_blank"></div></a>
          <a href="https://facebook.com/"><div class="icon facebook"target="_blank"></div></a>
          <a href="https://linkedin.com/"><div class="icon linkedin"target="_blank"></div></a>
        </div>
      </div>
    </div>
  </section>
  <hr>
</article>
