<article class="container-fluid hero">
  <section class="occluder">
    <div class="container motto">
      <h1>
           we move <strong>business cargo</strong><br> around the world
         </h1>
    </div>
    <div class="container">
      <div class="item">
        <img src="/assets/images/Shape.svg" alt="tracking">
        <span>Best prices with total transparency</span>
      </div>
      <div class="item">
        <img src="/assets/images/Shape.svg" alt="tracking">
        <span>Easy-to-fill process, and we help you out</span>
      </div>
      <div class="item">
        <img src="/assets/images/Shape.svg" alt="tracking">
        <span>Login to our Client Area and track your cargo</span>
      </div>
    </div>
    <div class="container">
      <div class="tab">
        <div class="selected">
          <img src="/assets/images/Group Copy 8.svg" alt="tracking"> ocean freight
        </div>
        <div>
          <img src="/assets/images/Group Copy 7.svg" alt="tracking"> air freight
        </div>
        <div>
          <img src="/assets/images/Fill 115 Copy.svg" alt="tracking"> moving shipping
        </div>
      </div>
    </div>
  </section>

</article>
