@import "../../../assets/style/0 variables/export";

.tab{
  margin-top: $gap-M-16;

  div{
    background-color: $color-paleblue;
    display: inline-block;
    font-family: 'NovaRegular';
    font-weight: bold;
    text-transform: uppercase;
    transform: translateY($gap-L-32);
    padding: $gap-S-8 $gap-L-32 $gap-S-8 $gap-M-16;

    img{
      height: 30px;
    }

    &:not(:first-child){
      margin-left: -2px;
    }

    &.selected{
      color: $color-pastelblue;
      background-color: $color-dirtyblue;

      &::before{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: $gap-S-8;
        background-color: $color-darkblue;
        transform: translate(-$gap-M-16,-$gap-M-16);
      }

      &::after{
        background-color: $color-bone;
        border: 5px solid $color-darkblue;
        border-right: none;
        border-bottom: none;
        border-radius: 2px;
        content: "";
        display: block;
        height: 20px;
        position: absolute;
        width: 20px;
        transform: translate(75px, $gap-XS-4) rotate(45deg);
      }
    }

  }
}
/*FORM*/
.form-back{
  padding: $gap-L-32;
  margin-top: $gap-XS-4;
  margin-bottom: $gap-M-16;
  border: 5px solid $color-darkblue;
  background-color: $color-bone;
  color: black;

  @media (max-width: 990px){
      text-align: center;

  }

}

.arrow-button-form{
  margin-top: 19px;
  width: 45px;
}

.form-button {
  background-color: $color-orange;
  border: 2px solid $color-orange;
  color: $color-white;
  padding: $gap-S-8 $gap-M-16;
  text-transform: uppercase;
  margin-top: 22px;
  font-size: 10px;
  font-weight: bold;
}
