<article class="container-fluid img-background-ship">
  <section class="top-backgroudShip">
    <div class="container title-page">
      <h1>
           we move <strong>business cargo</strong><br> around the world
         </h1>
    </div>
    <div class="container">
      <div class="item">
        <img src="/assets/images/Shape.svg" alt="tracking">
        <span>Best prices with total transparency</span>
      </div>
      <div class="item">
        <img src="/assets/images/Shape.svg" alt="tracking">
        <span>Easy-to-fill process, and we help you out</span>
      </div>
      <div class="item">
        <img src="/assets/images/Shape.svg" alt="tracking">
        <span>Login to our Client Area and track your cargo</span>
      </div>
    </div>
    <div class="container">
      <div class="tab row">
        <div class="selected col-xs-12 col-sm-4 col-md-3">
          <img src="/assets/images/Group Copy 8.svg" alt="tracking"> ocean freight
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <img src="/assets/images/Group Copy 7.svg" alt="tracking"> air freight
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <img src="/assets/images/Fill 115 Copy.svg" alt="tracking"> moving shipping
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="form-back ">

      <form class="row" action="">
        <div class="col-xs-12 col-sm-3 col-md-3">
          <label for="">Origin:</label>
          <input name="search" (keyup.enter)="searchCities(searchText.value)"
          #searchText
          class="form-control" type="text" value="{{_CitiesS.cities[0]}}">
          <div class="">
            <img alt="tracking" src="./assets/images/Fill 22 + Fill 24.svg">
            <span>90230-USA</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1">
        <a href=""><img src="assets/images/button.jpg" class="arrow-button-form"></a>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <label for="">Destination:</label>
          <input class="form-control" type="search" value="{{_CitiesS.cities[12]}}" >
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
          <label for="">Aprox date:</label>
          <input class="form-control" type="datetime-local" value="Select Date" >
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2">
          <button class="form-button" type="button" name="button">GET A CUOTE</button>
        </div>
      </form>

    </div>
  </section>

</article>
