@import "../../../assets/style/0 variables/export";

.C-links{
  .link{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-x: auto;
  }
  .item{
    span,h4{
      color: $color-pastelblue;
    }
  }
}
