@import "../variables/export";

.spec{
  text-align: center;
  padding: $gap-M-16;
  padding-bottom: $gap-L-32;

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    img{
      position: absolute;

      &:first-child{
        transform: translateY(6px);
      }
    }

  }

  h4{
    text-transform: capitalize;
  }

  p{
    height: 3em;
    text-overflow: ellipsis;
  }

  a{
    display: block;
    height: 1.5em;
    text-overflow: ellipsis;
    margin-bottom: $gap-XS-4;
  }

  button{
    background-color: $color-bone;
    border-color: $color-pastelblue;
    border-radius: $gap-XS-4;
    color: $color-blue;
    padding: $gap-S-8 $gap-M-16;
    text-transform: uppercase;
  }


}
