
  <article class="container-fluid or-footer">
    <section class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-9">
        <div class="logos-img">
          <div class="at-tooltip rnd-link"></div>
          <img src="/assets/images/Bitmap.png" alt="Member of the World Cargo alliance (WCA)">
        </div>
        <div class="logos-img">
          <div class="at-tooltip rnd-link"></div>
          <img src="/assets/images/Bitmap.jpg" alt="Member of the World Cargo alliance (WCA)">
        </div>
      </div>
    </section>
