<article class="container-fluid icon-company-description">
      <section class="container">
        <h2>Ocean Freight <strong>Incoterms</strong></h2>
        <p>{{_RndTextS.textRandom[0]}}</p>
        
      </section>
      <section class="container">
        <button >FOB</button>
        <button >CFR</button>
        <button class="selected">CIF</button>
        <button >DAT</button>
        <button >DAP</button>
        <h4>CIF: Cost, Insurance & freight</h4>
      </section>
    </article>
