@import "../../../assets/style/0 variables/export";

.icon-company-description{
  padding: $gap-L-32;
  text-align: center;

  section{
    font-family: 'NovaRegular';
    padding: $gap-M-16;

    p{
      overflow: hidden;
      height: 3em;
      text-align: justify;
    }

    button{
      background-color: $color-bone;
      border: none;
      border-radius: $gap-S-8;
      padding: $gap-XS-4 20px;
      color: $color-grey;
      font-weight: bold;

      &:hover{
        background-color: $color-pastelblue;
        color: white;

      }
    }
  }

  h4{
    margin-top: $gap-M-16;
  }
}
